#remove html file extension http://127.0.0.1:5500/index.html
# to http://127.0.0.1:5500/cool
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^\.]+)$ $1.html [NC, L] 
